{% load static%}
body{
  background-image: url('/media/images/фон1.jpg');
     background-size: 1920px 1080px;

     width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-width: 500px;
   background-attachment: fixed;

}

button {

  position: relative;

  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
#btn {

    display: flex;
  flex-grow: 1;
     flex-shrink: 1;
     max-height: 113px;
    box-sizing: border-box;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  padding: 1.25em 2em;
   background-color: transparent;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transition: transform 0.1s;
  transform-style: preserve-3d;



}
#btn::before {

    flex-shrink: 1;
    min-width: 100px ;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    background-color: transparent;

    border-bottom: 2px solid #b18597;
  border-radius: 0.75em;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.1s, box-shadow 0.05s;
}

#btn:hover {
    color: white;
    background-image: url('/media/images/кнопка.jpg');
    border-top: 2px solid #b18597;
  border-radius: 0.75em;
    border-bottom: 2px solid #b18597;
  border-radius: 0.75em;
    z-index: 2;

    border-bottom: #fff;
  transform: translate(0, 0.25em);
}
#btn:hover::before {
    color: white;

    background-image: url('/media/images/fon1.jpg');
    background-position: center;
    border-bottom: 2px solid #b18597;
  border-radius: 0.75em;
   background-color: transparent;
  transform: translate3d(0, 0.5em, -1em);

    z-index: -1;
}
#btn:hover::after {
    color: white;

    background-image: url('/media/images/изображение_2023-06-04_183321760.png');
    border-bottom: 2px solid #b18597;
  border-radius: 0.75em;
  transform: translate3d(0, 0.5em, -1em);

    filter: blur(5px);

    z-index: 1;

}
#btn:active {
    color: #c6b241;
    border-bottom: 2px solid #b18597;
  border-radius: 0.75em;
  transform: translate(0em, 0.75em);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.header{

    background-image: url("/media/images/1639757552_67-catherineasquithgallery-com-p-krasivie-rozovie-foni-v-stim-88.jpg");
    background-attachment: fixed;
    background-position: center;
    height: 100px;
    display: flex;
    justify-content: right;
    opacity: 8;




}
.menu{

    display: flex;
justify-content: right;

align-content: center;
text-align: center;
}
.app{
    margin: 70px;
    color: aliceblue;
    font-size: 30px;

    display: block;
    width: auto;
  align-items: center;
  justify-content: center;




}
particle {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
}
.button {
  padding: 10px;
}
.wrapper{
    display: flex;
    height: 100px;

    overflow: hidden;
    flex-direction: column;
    box-shadow:
    0 0 6px 3px #AB3DB0,
    0 0 1px 6px #AB3DB0,
    0 0 14px 9px #AB3DB0;
    opacity: 2;
}
.container{
    text-align: center;
    margin: 0 auto;
}

#coins{
    margin-top: 10px;
    margin-bottom: 10px;
}
.main{
    margin: 0 auto;

}
.image1{
    z-index: 10;
     background-image: url('/media/images/кл1.png');
    height: 177px;
    width: auto;


}

.image1.active {
    background-image: url('/media/images/кликер3.png');
    height: 177px;
    width: auto;
}


.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

    text-decoration: none;
    color: #fff;

}
.hello{
    text-align: center;
}

.nav {
    display: flex;
    justify-content: right;
    align-content: center;
    text-align: center;
}

.header__conteiner_conteiner {
    display: flex;
    margin-right: 40px;
}
.glow-on-hover {
    text-decoration: none;
     display: flex;
    justify-content: center;
     align-items: center;
    padding: 10px;
    margin: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 35px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #000000, #000000, #AB3DB0, #AB3DB0, #AB3DB0, #AB3DB0, #AB3DB0, #AB3DB0, #AB3DB0);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@media (max-width: 100000px) {
    .flex-container{
        justify-content: space-between;
    }
}
@media (max-width: 767px) {
    .flex-container{
        justify-content: center;
    }
}
.flex-container{

    display: flex;


    margin: 0 auto;
    padding: 50px 15px 30px 15px;
     flex-wrap: wrap;
}
.info{
    background-image: url("/media/images/1639757552_67-catherineasquithgallery-com-p-krasivie-rozovie-foni-v-stim-88.jpg");


    max-width: 500px;
    box-shadow:
    0 0 6px 3px #AB3DB0,
    0 0 1px 6px #AB3DB0,
    0 0 14px 9px #AB3DB0;
    min-width: 300px;

    max-height: 300px;
   margin-bottom: 30px;
    border-radius: 40px;
}
.block{
    background-image: url("/media/images/1639757552_67-catherineasquithgallery-com-p-krasivie-rozovie-foni-v-stim-88.jpg");

    min-width: 300px;
    box-shadow:
    0 0 6px 3px #AB3DB0,
    0 0 1px 6px #AB3DB0,
    0 0 14px 9px #AB3DB0;
     max-width: 500px;
    width: 500px;



    border-radius: 40px;
}
.putin{
      background-image: url('/media/images/sheep.gif');
        height: 440px;
        width: 400px;
        margin-right: 70px;
}
.button-flex{
    flex-wrap: wrap;
    display: inline-flex;
    margin-bottom: 40px;

}

.pomogi{
    flex: 1 1;
}
.boost{
      text-decoration: none;


  align-items: center;
  padding: 10px;
  margin: 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
 font-size: 15px;
}
.boost::before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #76D300, #76D300, #76D300, #76D300, #76D300, #76D300, #76D300, #76D300);

  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
    height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;

}
.boost:active {
    color: #000
}

.boost:active:after {
    background: transparent;
}

.boost:hover:before {
    opacity: 1;
}

.boost:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.boosts-holder{
    text-align: center;
}
.boosts{
    color: white;
    font-size: 30px;
    text-align: center;
}